.farmer-box {
  display: flex;
  gap: 20px;
}

.farmers-data-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.farmers-data-box h1 {
  display: flex;
  justify-content: center;
}
.farmers-data-table th {
  padding: 5px;
  /* margin-left: 5px; */
}

.farmers-data-table {
  display: inline;
  table-layout: fixed;
  scroll-behavior: smooth;
  overflow: auto;
}

.farmers-data-table td {
  border-top: 0.5px solid #ddd;
  overflow-x: auto;
  text-overflow: ellipsis;
  padding: 0 50px;
  text-align: left;
}
