.nav-cntr {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  padding: 5px;
  align-items: center;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
}
